name: On main push

#on:
#  push:
#    branches: [ main ]

on:
  workflow_call:

permissions:
  contents: write
  pull-requests: write

jobs:
  # Create a release PR
  create-release-pr:
    name: "Create release PR"
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          token: ${{ secrets.RDK_ACTION }}
          skip-github-release: true