name: On main push

#on:
#  push:
#    branches: [ main ]
on:
  workflow_call:

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          include-component-in-tag: true